card-toolbar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  opacity: 0;
  align-items: center;
  background: var(--c-button-bg);
  z-index: 4;
  transition: opacity 0.5s;

  & :focus {
    outline: 0.1rem var(--hd-color) solid;
  }

  & button {
    &[name="done"] {
      display: none;
    }
  }

  & svg {
    width: 2rem;
    aspect-ratio: 1 / 1;
    fill: var(--c-button-color);
  }
}

card-base {
  &:hover, &:focus, &:focus-within {
    & card-toolbar {
      opacity: 1;
    }
  }
}

[data-card-state="edit"] {
  & .editable {
    & card-toolbar {
      display: flex;
      opacity: 1;
      top: 0;
      width: auto;
      left: auto;
      right: 0;
      background: none;
      bottom: auto;
      & button {
        &[name="done"] {
          display: flex;
        }
        &:not([name="done"]) {
          display: none;
        }
      }
    }
  }
}
