@keyframes summon {
  0% {
    transform: scale(1.3) translate(0, -20vh);
    //transform: scale(.1) rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate(0, 0);
    //transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes banish {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: scale(0.1) translate(1000px, 2000px);
    opacity: 0;
  }
}

character-card {
  display: block;
  &.summon {
    & .ğ”˜ğ”«ğ”¥ğ”¬ğ”©ğ”¡ {
      animation: summon 1s ease-in;
    }
  }

  &.banish {
    & .ğ”˜ğ”«ğ”¥ğ”¬ğ”©ğ”¡ {
      animation: banish 1s ease-out;
    }
  }

  &.editable {
    position: absolute;
    left: 2rem;
    top: 7rem;
    right: 2rem;
    bottom: 2rem;
    background: hsl(var(--c-bg-h) var(--c-bg-s) var(--c-bg-l)) var(--c-bg-pattern);
    box-shadow: 0.24rem 0.24rem 0.64rem 0 var(--c-box-shadow-color);
  }
}
