[data-type="context-menu"] {
  z-index: 3;
  position: absolute;
  border: var(--border);
  min-width: 20rem;
  background: var(--bg-3-color);
  filter: drop-shadow(1rem 1rem 1rem rgb(0, 0, 0, 0.3));

  &:not([hidden]) {
    display: block;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & li {
    font-size: 1.4rem;
    padding: 0 1rem;
    cursor: pointer;
    line-height: 1.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgb(255 255 255 / 0.08);
    &::before {
      content: "";
      width: 2rem;
      display: inline-block;
      color: var(--hd-color);
    }

    &.storage-dependent {
      pointer-events: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.context-separator {
      border-top: 0.2rem groove var(--hd-color);
    }
    &.context-danger {
      &::before {
        content: "⚠";
      }
    }

    &:hover {
      background: var(--bg-4-color);
    }
  }
}

[data-style-storage] {
  & [data-type="context-menu"] {
    & li {
      &.storage-dependent {
        pointer-events: all;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
