#editor {
  flex: 2;
  position: relative;

  & .column-content {
    padding: 3.5rem 2.5rem;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    background-image: url(../media/patterns/background/light-subtle-rocky-wall.png)
  }           

  & #card-listing {        
    background: hsl(29, 33%, 34%) url(../media/patterns/background/light-rocky-wall.png)
  }

  & #smoke {
    position: absolute;
    width: calc(100% - 1.2rem);
    bottom: 0;
    right: 1.2rem;
    mix-blend-mode: screen;
  }
}
