@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

file-upload {
  min-height: 100%;
  flex: 2;
  display: none;
  background: var(--drop-zone-bg);
  color: var(--bg-3-color);
  & form {
    font-size: 3rem;
    margin: 2rem;
    border: var(--drop-zone-border);
    border-radius: 0.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    &.active,
    &:hover {
      border: var(--drop-zone-active-border);
    }

    & label {
      display: inline-block;
      font: inherit;
      cursor: pointer;
      & .button {
        font: inherit;
        font-weight: normal;
        display: inline-block;
        padding: 0 1rem;
        line-height: 1.2;
      }
    }
  }

  & input {
    display: none;
  }

  & .spinner {
    display: none;
    flex-direction: column;
    align-items: center;
    flex: 2;
    & svg {
      margin-top: 3rem;
      animation: spin 1s infinite linear;
      fill: var(--bg-3-color);
      width: 5rem;
      height: 5rem;
      flex: 2;
      display:block;
    }
  }
}

[data-import-state] {
  & file-upload {
    display: flex;
  }
}

[data-import-state="pristine"] {
  & form {
    display: flex;
  }
}

[data-import-state="working"] {
  & .spinner {
    display: flex;
  }
}
