import-export {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  position: relative;
  color: var(--hd-color);
  cursor: pointer;
  z-index: 6;
  &:hover {
    & .import-export-menu {
      right: 0;
    }
  }
  & .import-export-menu {
    font-size: 1.4rem;
    position: absolute;
    top: 4rem;
    right: -1000rem;
    border: var(--border);
    overflow-y: auto;
    min-width: calc(100% - 2rem);
    background: var(--bg-3-color);
    box-shadow: 0.24rem 0.24rem 0.64rem 0 var(--c-box-shadow-color);
  }
  & a {
    display: block;
    white-space: nowrap;
    padding-inline: 1rem;
    line-height: 1.8;
    border-bottom: 1px solid rgb(255 255 255 / 0.08);
    color: var(--text-color);

    &:hover {
      background: var(--bg-4-color);
    }
  }
}
