#library {
  min-width: 20rem;
  max-width: 30rem;
  width: 15%;
  overflow: visible;
  transition: width .5s;

  & .column-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    & .column-heading {
      border-bottom: none;
    }
  }

  & ul {
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
  }

  & li {
    padding-inline: 1rem;
    cursor: pointer;
    line-height: 1.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgb(255 255 255 / 0.08);

    &:hover {
      background: var(--bg-3-color);
      &[data-group-by] {
        background: var(--bg-4-color);
      }
    }

    &.active {
      background: var(--bg-3-color);
      &[data-group-by] {
        background: var(--bg-5-color);
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  [data-card-state="edit"] {
    & #library {
      width: 0;
      overflow: hidden;
      min-width: 0;
    }
  }
}
