library-organizer {
  display: block;
  position: relative;
  padding: 0 1rem;
  z-index: 1;
  cursor: pointer;

  & svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--hd-color);
    position: relative;
    top: 0.3rem;
  }

  & .sort-box {
    position: absolute;
    padding-top: 3rem;
    top: 0;
    right: 1000rem;
    box-shadow: 0.24rem 0.24rem 0.64rem 0 var(--c-box-shadow-color)
  }

  & h3 {
    padding-inline: 1rem;
    border: var(--border);
    border-bottom: none;
    background: var(--bg-2-color);
    line-height: 2;
    cursor: default;
  }

  & ul {
    padding: 0;
    border: var(--border);
    overflow-y: auto;
    max-height: 24rem;
    min-width: 20rem;
    background: var(--bg-3-color);
  }

  &:hover {
    & .sort-box {
      right: 0;
    }
    & svg {
      fill: var(--text-color);
    }
  }
}
