.ice-age-light {
  background-image: url(../media/patterns/background/light-ice-age.png);
}

.natural-paper-light {
  background-image: url(../media/patterns/background/light-natural-paper.png);
}

.paper-3-light {
  background-image: url(../media/patterns/background/light-paper.png);
}

.redox-02-light {
  background-image: url(../media/patterns/background/light-redox.png);
}

.rocky-wall-light {
  /* default */
  background-image: url(../media/patterns/background/light-rocky-wall.png);
}

.subtle-grunge-light {
  background-image: url(../media/patterns/background/light-subtle-grunge.png);
}

.ice-age-dark {
  background-image: url(../media/patterns/background/dark-ice-age.png);
}

.natural-paper-dark {
  background-image: url(../media/patterns/background/dark-natural-paper.png);
}

.paper-3-dark {
  background-image: url(../media/patterns/background/dark-paper.png);
}

.redox-02-dark {
  background-image: url(../media/patterns/background/dark-redox.png);
}

.rocky-wall-dark {
  background-image: url(../media/patterns/background/dark-rocky-wall.png);
}
.rocky-wall-subtle {
  background-image: url(../media/patterns/background/light-subtle-rocky-wall.png);
}

.subtle-grunge-dark {
  background-image: url(../media/patterns/background/dark-subtle-grunge.png);
}