@media print {
  @page  {
    size: A4 landscape;
  }

  header,
  #library,
  #style-editor,
  footer {
    display: none;
  }

  main {
    overflow: visible;
  }

  #editor {
    background: white;
    overflow: visible;
    border: none;

    & h2 {
      display: none;
    }

    & #print-msg {
      /* display: block;
      color: black;
      font-family: serif;
      text-align: center;
      font-size: 16px; */
    }

    & .column-content {
      background: white;
      overflow: visible;
    }

    & article {
      -webkit-print-color-adjust: exact;
      flex-direction: column-reverse;
      gap: 0;
      background: var(--c-border-color) var(--c-border-pattern);

      &:nth-child(even) {
        /* &::after {
          content: '';
          display:block;
          break-after: all;
        } */
        //outline: 5px red solid;
      }
    }

    & figure {
      box-shadow: none;
      border-top: 2px solid #444;

      &:last-of-type {
        transform: rotate(180deg);
        margin-bottom: 14px;

        & .badge:not(.cr) {
          top: -2.4rem;
        }
      }
    }
  }
}