@media print {
  @page {
    size: A4 landscape;
  }

  body {
    max-height: none;
    -webkit-print-color-adjust: exact;
  }

  header,
  #library,
  style-editor,
  tab-navi,
  tab-menu,
  card-form,
  card-toolbar,
  footer,
  h2 {
    display: none !important;
  }

  card-base {
    outline: none !important;
    pointer-events: none;
    width: 212px;
    margin: 2px;
    page-break-inside: avoid;
    display: inline-block;

    & .card-view {
      flex-direction: column-reverse;
    }

    & card-verso {
      transform: rotate(180deg);
      &::before {
        content: "";
        display: block;
        background: hsl(var(--c-border-h) var(--c-border-s) var(--c-border-l))
          var(--c-border-pattern);
        height: 14px;
        box-sizing: content-box;
        border: 0.3px solid
          hsl(var(--c-border-h) var(--c-border-s) var(--c-border-l) / 0.7);
      }
    }

    & .frame {
      box-shadow: none;
    }
  }

  tab-panel:not(:empty) {
    padding: 0;
    display: block;
  }

  #editor {
    background: white;
    border: none;

    & .column-content {
      background: white;
      overflow: visible;
    }
  }
}
