@media print {
  @page {
    size: A4 landscape;
  }

  header,
  #library,
  style-editor,
  tab-navi,
  tab-menu,
  card-form,
  card-toolbar,
  footer {
    display: none !important;
  }

  card-base {
    outline: none !important;
    pointer-events: none;
    width: 212px;
    height: 646px;
    margin: 2px;
    float:left;

    & .card-view {
      display: block;
    }
  }

  main {
    overflow: auto;
  }

  tab-panel:not(:empty) {
    height: 646px;
    padding: 0;
    display: block;
    break-after: all;
    margin-bottom: 10px;
  }

  #editor {
    background: white;
    overflow: visible;
    border: none;
    display: block;

    & h2 {
      display: none;
    }

    & .column-content {
      background: white;
      overflow: visible;
    }

    & article {
      -webkit-print-color-adjust: exact;
      flex-direction: column-reverse;
      gap: 0;
      background: hsl(var(--c-border-h) var(--c-border-s) var(--c-border-l))
        var(--c-border-pattern);

      &:nth-child(even) {
        /* &::after {
          content: '';
          display:block;
          break-after: all;
        } */
        //outline: 5px red solid;
      }
    }

    & .frame {
      box-shadow: none;
      border-top: 2px solid #444;

      &:last-of-type {
        transform: rotate(180deg);
        margin-bottom: 14px;

        & .badge:not(.cr) {
          top: -2.4rem;
        }
      }
    }
  }
}
