#skin {
  min-width: 25rem;
  max-width: 30rem;
  width: 25rem;

  & .form-row {
    padding: 1rem;
  }

  & ::selection {
    background-color: transparent;
  }

  & fieldset {
    border: none;
    padding: 0;
    margin-bottom: 3rem;
  }

  & legend {
    margin-bottom: .5rem;
  }

  & .form-row {
    margin-bottom: .5rem;
  }

  & label {
    display: block;
    font-size: 1.4rem;
  }

  & .control {
    width: 100%;
    font-size: 1.4rem;
  }

  & .color-slider {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    height: .6rem;
    padding: 0;
    outline: none;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 1.6rem;
        width:  1.6rem;
        border-radius: 50%;
        background: var(--bg-5-color);
    }
    &::-moz-range-thumb {
        -webkit-appearance: none;
        height: 1.6rem;
        width:  1.6rem;
        border-radius: 50%;
        background: var(--bg-5-color);
    }
  }

  

  & [data-target="bg"] {
    & .pattern-selection {
      & li {
        background-color: hsl(var(--c-bg-h), var(--c-bg-s), var(--c-bg-l));
      }
    }
  }

  & [data-target="border"] {
    & .pattern-selection {
      & li {
        background-color: hsl(var(--c-border-h), var(--c-border-s), var(--c-border-l));
      }
    }
  }

  & select,
  & option {
    background: var(--bg-2-color);
    color: var(--text-color);
    border-color: var(--border-color);
  }

  & .pattern-selection {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    & li {
      min-width: calc(100% / 3);
    }

    & label {
      aspect-ratio: 4 / 3;
      border: .3rem solid var(--bg-1-color);
      cursor: pointer;
    }

    & input {
      position: absolute;
      top: -10rem;
      left: -10rem;
      opacity: 0;
      outline: none;

      &:checked ~ label {
        border-color: var(--hd-color);
      }
    }
  }
}
