#style-editor {
  min-width: 25rem;
  max-width: 30rem;
  width: 25rem;

  & [data-target="bg"] {
    & pattern-selector {
      & li {
        background-color: hsl(var(--c-bg-h) var(--c-bg-s) var(--c-bg-l));
      }
    }
  }

  & [data-target="border"] {
    & pattern-selector {
      & li {
        background-color: hsl(
          var(--c-border-h),
          var(--c-border-s),
          var(--c-border-l)
        );
      }
    }
  }

  & font-selector {
    display: block;
  }

  & pattern-selector {
    display: block;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
    }

    & li {
      min-width: calc(100% / 3);
      background-color: hsl(var(--c-bg-h) var(--c-bg-s) var(--c-bg-l));
    }

    &[type="borders"] {
      & li {
        background-color: hsl(var(--c-border-h) var(--c-border-s) var(--c-border-l));
        background-size: 35rem;
      }
      & label {
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          background: hsl(var(--c-bg-h) var(--c-bg-s) var(--c-bg-l)) var(--c-bg-pattern);
          left: 1.7rem;
          top: 1.7rem;
          width: calc(100% - 1.7rem);
          height: calc(100% - 1.7rem);
          z-index: 1;
        }
      }
    }

    & label {
      aspect-ratio: 4 / 3;
      border: 0.4rem solid var(--bg-1-color);
      cursor: pointer;
      
    }

    & input {
      position: absolute;
      top: -10rem;
      left: -10rem;
      opacity: 0;
      outline: none;

      &:checked ~ label {
        border: 0.4rem groove var(--hd-color);
      }
    }
  }

  & color-selector {
    display: block;
  }

  & color-selector label {
    display: flex;
  }

  & color-selector span {
    padding: 3px;
    min-width: 1.5rem;
    & ~ span {
      flex: 2;
    }
  }

  & color-selector [type="range"] {
    position: relative;
    top: -0.1rem;
    appearance: none;
    background: silver;
    height: 0.6rem;
    padding: 0;
    outline: none;
    width: 100%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 50%;
      background: var(--hd-color);
      opacity: 0.7;
      cursor: ew-resize;

      &:hover {
        opacity: 1;
      }
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 50%;
      background: var(--hd-color);
      cursor: ew-resize;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}
