tab-handle {
    // for more props see tab-navi .tab
    
    & .closer {
        display: none;
      }
    &.active {
        background: var(--bg-light) url(../media/patterns/system/light-rocky-wall.png);
        & .closer {
          display: flex;
        }
    }
}