tab-panel {
    display: none;
    gap: 2.5rem;
    flex-wrap: wrap;
    &.active {
        display: flex
    }
}

tab-content {
    display: block;
    min-height: 100%;
    padding: 3.5rem 2.5rem;
}

